.navbar {
    display: flex;
    margin: 0;
    padding: 20px 30px;
    background-color: #194990;
}
.navbar li {
    list-style: none;
    margin-right: 1.5em;
}
.navbar li a {
    font-weight: bold;
    color: #e3a11e;
    opacity: 1;
    transition: .5s;
}
.navbar li a:hover {
    color: #fff;
    opacity: .75;
}